<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_map">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->

    <application>
    <meta-data android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyALjjwZbWSzttJvYm6QinIn-o9xTV1l2QY"/>

</application>
</manifest>
